annotated-types
anyio
beautifulsoup4
bs4
charset-normalizer
click
colorama
dnspython
email-validator
exceptiongroup
fastapi
fastapi-cli
greenlet
h11
httpcore
httptools
httpx
iniconfig
jinja2
markdown-it-py
MarkupSafe
mdurl
orjson
packaging
pluggy
pydantic
pydantic-core
pydantic-settings
pygments
pytest
python-dotenv
python-multipart
pyyaml
requests
rich
shellingham
sniffio
soupsieve
sqlalchemy
starlette
tomli
typer
typing-extensions
ujson
urllib3
uvicorn
watchfiles
websockets
celery